.container {
  width: 100%;
  height: 750px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#stats {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 23px;
}

#rank {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

li {
  margin-bottom: 25px;
  font-size: 20px;
}
